<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="corona.png">
   <link rel="stylesheet" href="styles.css">
  <title>Page not found</title>
</head>
<body>
  <div class="main-content">
  <h1 id="h1404">404<br>
  Page Not Found</h1>
  <a href="/" id="ap">>Home Page</a>
  </div>
  {{>footer}}
</body>
</html>